* {
  margin: 0;
}

.pattern-container {
  background-image: url('../../assets/img/pattern.png');
  background-color:#4EA1FF;
  height: 175px;
  position: relative;
}



.logo {
  position: absolute;
  top: 70%;
  left: 9%;
  transform: translate(-50%, -50%);
  height: 60px; 
}


h1 {
  font-size: 4em;
  margin-bottom: 10px;
  font-weight: bold;
}

h2 {
  font-size: 16px;
  color: #666;
}

.text-author, .author {
  font-weight: bold;
  color: #999;
}

.author {
  color: #2a7ae2; 
}

.date {
  font-size: 14px;
  color: #999;
}

.lorem-color {
  background-color: yellow;
}

.table-box {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  text-align: left; 
}

 .head-box {
  background-color: #1FAAE6;
  color: white;
}

.box-color, .box-color2 {
  background-color: #B0E7F0;
}

.footer-text {
  font-weight: bold;
  color: #666;
}